* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 1000px;
    margin: 30px auto;
}

.elem_card , .new_elem_card { 
    width: 600px;
    border: none;

    border-radius: 15px;
    padding: 10px;
    /* display: flex;
   flex-direction: column; */
    align-items: center;

    /* justify-content: center; */
    box-shadow: inset 0 0 12px #000;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    background-color: rgb(203, 192, 192);


}

.elem_card img {
    max-width: 800px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    /* object-fit: contain; */
    padding: 20px;
}


.new_elem_card img {
    max-width: 800px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    /* object-fit: contain; */
    padding: 20px;
}



.users_date>p:nth-child(1) {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.user_data_container  > p:nth-child(1){
    color: black;
    font-weight: 700;
    font-size: 20px;
}